@charset "utf-8";
/* STUDENTS, add your styles AFTER all this Eric Meyer reset code: */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* STUDENTS, add styles below: */
ul {

list-style-type: disc;

list-style-position: outside;

padding-left: 1rem;
}

ol {

list-style-type: decimal;

list-style-position: outside;

padding-left: 1rem;
}

ul ul, ol ul {
list-style-type: circle;
}

ol ol, ul ol {
list-style-type: lower-latin;
}

strong {
font-weight: bold;
}

em {
font-style: italic;
}

html {
	font-size:100%;
}

body {
	width:700px;
	font-size:100%;
}

h1 {
	background-color: ;
	color: ;
	font-size: ;
	font-family: ;
	font-weight: ;
	margin: 0em 0em 0em 0em;
	padding: .5em .75em .5em .5em;
}

h2 {	background-color: ;
	color: ;
	font-size: 1.;
	font-family:;
	font-weight: ;
	margin: 1.5em 1.5em 1.5em 1.5em;
	padding: .5em .5em .5em .5em;
}

p {	background-color:;
	color:;
	font-size: ;
	font-family: ;
	font-weight:100;
	line-height: 1.5em;
	margin: 2.1em 2.1em 2.1em 2.1em;
	padding: .5em .5em .5em .5em;
}

#anim{
	background-image: url(../img/background.jpg);

	width: 500px;
	height: 300px;
	/* margin: 5rem; */
	border: solid black 1px;
	box-shadow: 0 4px 8px 0 lightgrey,
	 						0 6px 20px 0 lightgrey;
	overflow: hidden;
}

#anim h3{
	color: white;
  text-shadow: 2px 2px 4px #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: 800;
	position: relative;
	top: -25px;
	left: 50px;
	overflow: hidden;
	animation: h3-stuff 5s ease 0s forwards;
}

#anim h4{
	color: white;
  text-shadow: 2px 2px 4px #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: 800;
	position: relative;
	top: -25px;
	left: 50px;
	overflow: hidden;
	opacity: 0;
	animation: h4-stuff 5s ease 5s forwards;
}

#anim img{
	position: relative;
	top: -1000px;
	left: 50000px;
	overflow: hidden;
	animation: img 5s ease 10s forwards;
}




@keyframes h3-stuff{
	0% {
		top: -25px;
		left: 50px;
		opacity: 0;
	}

	20% {
						top: 50px;
						left: 50px;
						opacity: 1;
	}


	100% {
					top: 50px;
					left: 200px;
					opacity: 0;
	}

}

@keyframes h4-stuff{
	0% {
		top: -25px;
		left: 50px;
		opacity: 0;
	}

	20% {
						top: 50px;
						left: 50px;
						opacity: 1;
	}

	100% {
					top: 50px;
					left: 200px;
					opacity: 0;
	}

}

@keyframes img{
	0% {
		top: -25px;
		left: 50px;
		opacity: 0;
	}

	20% {
						top: 50px;
						left: 50px;
						opacity: 1;
	}

	50% {
						top: 50px;
						left: 200px;
						opacity: 1;
	}

	55%{
		transform: rotate(75deg);
	}

	90% {
					top: -100px;
					left: 300px;
					opacity: 1;
	}

	100% {
					top: -25px;
					left: 5px;
					opacity: 1;
	}

}






@media screen and (min-width: 480px){
	html{
		font-size: 110%;
	}
}
